.container {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 978px) 1fr;
}

/* Header -> Very Top Bar =========*/
.very-top-bar {
	grid-column: 2 / -2;
}
.very-top-bar-content {
	display: grid;
	grid-template-columns: repeat(6, auto);
	justify-content: right;
}
/* Header -> Navbar =========*/
.navbar {
	grid-column: 1 / -1;
}
.navbar-content {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: 5fr repeat(5, auto);
}
.navbar-content > form {
	align-self: center;
	display: none;
}

/* Header -> Main Title =========*/
.main-title .main-title-content {
	grid-column: 2 / -2;
}

/* Intro  -> Intro Content ======*/

.intro-content {
	grid-column: 2 / -2;
}
.intro-content article {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}
/* Features -> Features Content */
.features-content {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.features-content .section-title {
	grid-column: 1 / -1;
}
.features-content .btn {
	grid-column: 1 / -1;
}
/* Album -> Album Content =======*/
.album-content {
	grid-column: 2 / -2; 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 30px;
}

/* Staff -> Staff Content =======*/
.staff-content {
	grid-column: 2 / -2;
}
.staff-presentation {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 30px;
}

/* Latestposts -> Latestposts content =======*/
.latestposts-content {
	grid-column: 2 / -2;
}
.latestposts-content .latestposts-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}
/* Newsletter -> Newsletter content =======*/
.newsletter-content {
	grid-column: 2 / -2;
}

/* Footer -> Footer content =======*/
.footer-content {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}

/* Copyright =======*/

.copyright {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: 1fr 1fr
}

@media only screen and (max-width: 900px) {
   .container {
	    display: grid;
	    grid-template-columns: 1fr minmax(320px, 90%) 1fr;
	}
	.navbar-content > a {
		display: none;
	}

	.navbar-content > form {
		display: block;
	}
	.features-content{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 750px) {
	.container {
	    display: grid;
	    grid-template-columns: 1fr minmax(320px, 90%) 1fr;
	}
	.navbar-content {
		display: block;
	}
	.intro-content article {
		grid-template-columns: 1fr;
	}
	.copyright {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 450px) {
	.features-content{
		grid-template-columns: 1fr;
	}
}